{% extends 'base/base.html' %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block title %} Página de inicio {% endblock %}

{% block content %}

    <div class="info-bar">
        <div style="font-size: 15px; padding: 10px 10px 10px 75px;">
            <b style="font-size: 20px;">{{visit_list|length}}</b> visitas disponibles
        </div>
    </div>

    <!-- Only can add new visit if user is admin -->
    {% if user.is_active and user.is_staff %}
	<div class="container" style="margin-top: 20px">
		<div class="row">
			<div class="card mb-3" style="width: 1000px;">
			  <div class="row no-gutters">
				<div class="col-md-3">
				  <img src="/media/fotos/new-image.png" class="card-img" height="80">
				</div>
				<div class="col-md-6">
				  <div class="card-body">
					<div style="font-size: 20px; margin-left: 80px;">Añade una nueva visita a la lista.</div>
				  </div>
				</div>
				<div class="col-md-3">
				  <div class="card-body">
					<a href="{% url 'new_visit' %}" class="btn btn-primary" style="margin-left: 20px;"><b>Nueva visita</b></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
    {% endif %}

    {% if visit_list %}
        <div class="container" style="margin-top: 20px">
            <div class="row">
            {% for visit in visit_list %}
				<div class="card mb-3" style="width: 1000px;">
				  <div class="row no-gutters">
				    <div class="col-md-5">
				      <img src="{{ visit.foto.url }}" class="card-img" height="240">
				    </div>
				    <div class="col-md-5">
				      <div class="card-body">
				        <h5 class="card-title">{{visit.nombre}}</h5>
                        <hr>
				        <p class="card-text">{{visit.descripcion}}</p>
				        <p class="card-text"><p><small>Likes: {{visit.likes}}</small></p></p>
                        <a href="{% url 'detail' visit_id=visit.id %}" class="btn btn-success"><b>Más información</b></a>
				      </div>
				    </div>
                    <!-- Only can edit visit list if user is admin -->
                    {% if user.is_active and user.is_staff %}
    				    <div class="col-md-2">
    						<div class="card-body">
    							<a href="{% url 'edit_visit' visit_id=visit.id %}" class="btn btn-primary" style="margin: 10px;"><b>Editar</b></a>
    							<a href="#remove-visit{{ visit.id }}" class="btn btn-danger" data-toggle="modal" style="margin: 10px;"><b>Borrar</b></a>
    						</div>
    				    </div>
                    {% endif %}
                    <!-- Modal / Ventana / Overlay en HTML -->
                    <div id="remove-visit{{ visit.id }}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">¿Estás seguro?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Seguro que quieres borrar este elemento?</p>
                                    <p><small>Si lo borras, nunca podrás recuperarlo.</small></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <form method="GET">
                                        <button type="submit" class="btn btn-danger" name="DeleteButton" value="{{ visit.id }}">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

				  </div>
				</div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Lista de visitas vacía.</p>
    {% endif %}
	<!-- Botón en HTML (lanza el modal en Bootstrap) -->




<script>
	$("#tab_visit_list").tab('show');
</script>

{% endblock %}
